---
http_interactions:
- request:
    method: get
    uri: http://ergast.com/api/f1/2017/1/fastest/1/results.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"MRData":{"xmlns":"http:\/\/ergast.com\/mrd\/1.4","series":"f1","url":"http://ergast.com/api/f1/2017/1/fastest/1/results.json","limit":"30","offset":"0","total":"1","RaceTable":{"season":"2017","round":"1","fastest":"1","Races":[{"season":"2017","round":"1","url":"https:\/\/en.wikipedia.org\/wiki\/2017_Australian_Grand_Prix","raceName":"Australian
        Grand Prix","Circuit":{"circuitId":"albert_park","url":"http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit","circuitName":"Albert
        Park Grand Prix Circuit","Location":{"lat":"-37.8497","long":"144.968","locality":"Melbourne","country":"Australia"}},"date":"2017-03-26","time":"05:00:00Z","Results":[{"number":"7","position":"4","positionText":"4","points":"12","Driver":{"driverId":"raikkonen","permanentNumber":"7","code":"RAI","url":"http:\/\/en.wikipedia.org\/wiki\/Kimi_R%C3%A4ikk%C3%B6nen","givenName":"Kimi","familyName":"Räikkönen","dateOfBirth":"1979-10-17","nationality":"Finnish"},"Constructor":{"constructorId":"ferrari","url":"http:\/\/en.wikipedia.org\/wiki\/Scuderia_Ferrari","name":"Ferrari","nationality":"Italian"},"grid":"4","laps":"57","status":"Finished","Time":{"millis":"5074065","time":"+22.393"},"FastestLap":{"rank":"1","lap":"56","Time":{"time":"1:26.538"},"AverageSpeed":{"units":"kph","speed":"220.605"}}}]}]}}}'
  recorded_at: Sat, 12 Aug 2017 21:10:59 GMT
recorded_with: VCR 3.0.3
