---
http_interactions:
- request:
    method: get
    uri: http://ergast.com/api/f1/2017/circuits/Hungaroring/grid/30/results.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"MRData":{"xmlns":"http:\/\/ergast.com\/mrd\/1.4","series":"f1","url":"http://ergast.com/api/f1/2017/circuits/hungaroring/grid/30/results.json","limit":"30","offset":"0","total":"0","RaceTable":{"season":"2017","circuitId":"hungaroring","grid":"30","Races":[]}}}'
  recorded_at: Mon, 30 Oct 2017 23:28:04 GMT
recorded_with: VCR 3.0.3
