---
http_interactions:
- request:
    method: get
    uri: http://ergast.com/api/f1/1989/circuits/Malaysia/results.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"MRData":{"xmlns":"http:\/\/ergast.com\/mrd\/1.4","series":"f1","url":"http://ergast.com/api/f1/1989/circuits/malaysia/results.json","limit":"30","offset":"0","total":"0","RaceTable":{"season":"1989","circuitId":"malaysia","Races":[]}}}'
  recorded_at: Tue, 01 Aug 2017 11:56:03 GMT
recorded_with: VCR 3.0.3
