---
http_interactions:
- request:
    method: get
    uri: http://ergast.com/api/f1/2017/circuits/Hungaroring/grid/2/results.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"MRData":{"xmlns":"http:\/\/ergast.com\/mrd\/1.4","series":"f1","url":"http://ergast.com/api/f1/2017/circuits/hungaroring/grid/2/results.json","limit":"30","offset":"0","total":"1","RaceTable":{"season":"2017","circuitId":"hungaroring","grid":"2","Races":[{"season":"2017","round":"11","url":"https:\/\/en.wikipedia.org\/wiki\/2017_Hungarian_Grand_Prix","raceName":"Hungarian
        Grand Prix","Circuit":{"circuitId":"hungaroring","url":"http://en.wikipedia.org/wiki/Hungaroring","circuitName":"Hungaroring","Location":{"lat":"47.5789","long":"19.2486","locality":"Budapest","country":"Hungary"}},"date":"2017-07-30","time":"12:00:00Z","Results":[{"number":"7","position":"2","positionText":"2","points":"18","Driver":{"driverId":"raikkonen","permanentNumber":"7","code":"RAI","url":"http:\/\/en.wikipedia.org\/wiki\/Kimi_R%C3%A4ikk%C3%B6nen","givenName":"Kimi","familyName":"Räikkönen","dateOfBirth":"1979-10-17","nationality":"Finnish"},"Constructor":{"constructorId":"ferrari","url":"http:\/\/en.wikipedia.org\/wiki\/Scuderia_Ferrari","name":"Ferrari","nationality":"Italian"},"grid":"2","laps":"70","status":"Finished","Time":{"millis":"5987621","time":"+0.908"},"FastestLap":{"rank":"2","lap":"70","Time":{"time":"1:20.461"},"AverageSpeed":{"units":"kph","speed":"196.015"}}}]}]}}}'
  recorded_at: Sat, 12 Aug 2017 20:56:29 GMT
recorded_with: VCR 3.0.3
