---
http_interactions:
- request:
    method: get
    uri: http://ergast.com/api/f1/2017/1/fastest/2/results.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"MRData":{"xmlns":"http:\/\/ergast.com\/mrd\/1.4","series":"f1","url":"http://ergast.com/api/f1/2017/1/fastest/2/results.json","limit":"30","offset":"0","total":"1","RaceTable":{"season":"2017","round":"1","fastest":"2","Races":[{"season":"2017","round":"1","url":"https:\/\/en.wikipedia.org\/wiki\/2017_Australian_Grand_Prix","raceName":"Australian
        Grand Prix","Circuit":{"circuitId":"albert_park","url":"http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit","circuitName":"Albert
        Park Grand Prix Circuit","Location":{"lat":"-37.8497","long":"144.968","locality":"Melbourne","country":"Australia"}},"date":"2017-03-26","time":"05:00:00Z","Results":[{"number":"77","position":"3","positionText":"3","points":"15","Driver":{"driverId":"bottas","permanentNumber":"77","code":"BOT","url":"http:\/\/en.wikipedia.org\/wiki\/Valtteri_Bottas","givenName":"Valtteri","familyName":"Bottas","dateOfBirth":"1989-08-28","nationality":"Finnish"},"Constructor":{"constructorId":"mercedes","url":"http:\/\/en.wikipedia.org\/wiki\/Mercedes-Benz_in_Formula_One","name":"Mercedes","nationality":"German"},"grid":"3","laps":"57","status":"Finished","Time":{"millis":"5062922","time":"+11.250"},"FastestLap":{"rank":"2","lap":"56","Time":{"time":"1:26.593"},"AverageSpeed":{"units":"kph","speed":"220.465"}}}]}]}}}'
  recorded_at: Sat, 12 Aug 2017 21:15:06 GMT
recorded_with: VCR 3.0.3
