---
http_interactions:
- request:
    method: get
    uri: http://ergast.com/api/f1/1994/circuits/Monaco/drivers/Senna/results.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"MRData":{"xmlns":"http:\/\/ergast.com\/mrd\/1.4","series":"f1","url":"http://ergast.com/api/f1/1994/circuits/monaco/drivers/senna/results.json","limit":"30","offset":"0","total":"0","RaceTable":{"season":"1994","circuitId":"monaco","driverId":"senna","Races":[]}}}'
  recorded_at: Sun, 29 Oct 2017 20:29:44 GMT
recorded_with: VCR 3.0.3
