---
http_interactions:
- request:
    method: get
    uri: http://ergast.com/api/f1/2017/circuits/Hungaroring/drivers/Vettel/results.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"MRData":{"xmlns":"http:\/\/ergast.com\/mrd\/1.4","series":"f1","url":"http://ergast.com/api/f1/2017/circuits/hungaroring/drivers/vettel/results.json","limit":"30","offset":"0","total":"1","RaceTable":{"season":"2017","circuitId":"hungaroring","driverId":"vettel","Races":[{"season":"2017","round":"11","url":"https:\/\/en.wikipedia.org\/wiki\/2017_Hungarian_Grand_Prix","raceName":"Hungarian
        Grand Prix","Circuit":{"circuitId":"hungaroring","url":"http://en.wikipedia.org/wiki/Hungaroring","circuitName":"Hungaroring","Location":{"lat":"47.5789","long":"19.2486","locality":"Budapest","country":"Hungary"}},"date":"2017-07-30","time":"12:00:00Z","Results":[{"number":"5","position":"1","positionText":"1","points":"25","Driver":{"driverId":"vettel","permanentNumber":"5","code":"VET","url":"http:\/\/en.wikipedia.org\/wiki\/Sebastian_Vettel","givenName":"Sebastian","familyName":"Vettel","dateOfBirth":"1987-07-03","nationality":"German"},"Constructor":{"constructorId":"ferrari","url":"http:\/\/en.wikipedia.org\/wiki\/Scuderia_Ferrari","name":"Ferrari","nationality":"Italian"},"grid":"1","laps":"70","status":"Finished","Time":{"millis":"5986713","time":"1:39:46.713"},"FastestLap":{"rank":"4","lap":"69","Time":{"time":"1:20.807"},"AverageSpeed":{"units":"kph","speed":"195.176"}}}]}]}}}'
  recorded_at: Sun, 29 Oct 2017 20:29:43 GMT
recorded_with: VCR 3.0.3
