---
http_interactions:
- request:
    method: get
    uri: http://ergast.com/api/f1/constructors/ferrari/results/1/seasons.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"MRData":{"xmlns":"http:\/\/ergast.com\/mrd\/1.4","series":"f1","url":"http://ergast.com/api/f1/constructors/ferrari/results/1/seasons.json","limit":"30","offset":"0","total":"54","SeasonTable":{"constructorId":"ferrari","position":"1","Seasons":[{"season":"1951","url":"http:\/\/en.wikipedia.org\/wiki\/1951_Formula_One_season"},{"season":"1952","url":"http:\/\/en.wikipedia.org\/wiki\/1952_Formula_One_season"},{"season":"1953","url":"http:\/\/en.wikipedia.org\/wiki\/1953_Formula_One_season"},{"season":"1954","url":"http:\/\/en.wikipedia.org\/wiki\/1954_Formula_One_season"},{"season":"1955","url":"http:\/\/en.wikipedia.org\/wiki\/1955_Formula_One_season"},{"season":"1956","url":"http:\/\/en.wikipedia.org\/wiki\/1956_Formula_One_season"},{"season":"1[...]
