---
http_interactions:
- request:
    method: get
    uri: http://ergast.com/api/f1/constructors/ferrari/constructorStandings/1/seasons.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"MRData":{"xmlns":"http:\/\/ergast.com\/mrd\/1.4","series":"f1","url":"http://ergast.com/api/f1/constructors/ferrari/constructorstandings/1/seasons.json","limit":"30","offset":"0","total":"16","SeasonTable":{"constructorId":"ferrari","constructorStandings":"1","Seasons":[{"season":"1961","url":"http:\/\/en.wikipedia.org\/wiki\/1961_Formula_One_season"},{"season":"1964","url":"http:\/\/en.wikipedia.org\/wiki\/1964_Formula_One_season"},{"season":"1975","url":"http:\/\/en.wikipedia.org\/wiki\/1975_Formula_One_season"},{"season":"1976","url":"http:\/\/en.wikipedia.org\/wiki\/1976_Formula_One_season"},{"season":"1977","url":"http:\/\/en.wikipedia.org\/wiki\/1977_Formula_One_season"},{"season":"1979","url":"http:\/\/en.wikipedia.org\/wiki\/1979_Formula_One_season"},{"season":"1982","url":"http:\/\/en.wikipedia.org\/wiki\/1982_Formula_One_season"},{"season":"1983","url":"http:\/\/en.wikipedia.org\/wiki\/1983_Formula_One_season"},{"season":"1999","url":"http:\/\/en.wikipedia.org\/wiki\/1999_Formula_One_season"},{"season":"2000","url":"http:\/\/en.wikipedia.org\/wiki\/2000_Formula_One_season"},{"season":"2001","url":"http:\/\/en.wikipedia.org\/wiki\/2001_Formula_One_season"},{"season":"2002","url":"http:\/\/en.wikipedia.org\/wiki\/2002_Formula_One_season"},{"season":"2003","url":"http:\/\/en.wikipedia.org\/wiki\/2003_Formula_One_season"},{"season":"2004","url":"http:\/\/en.wikipedia.org\/wiki\/2004_Formula_One_season"},{"season":"2007","url":"http:\/\/en.wikipedia.org\/wiki\/2007_Formula_One_season"},{"season":"2008","url":"http:\/\/en.wikipedia.org\/wiki\/2008_Formula_One_season"}]}}}'
  recorded_at: Sun, 26 Nov 2017 05:06:48 GMT
recorded_with: VCR 3.0.3
