---
http_interactions:
- request:
    method: get
    uri: http://ergast.com/api/f1/circuits/RainbowRoad/seasons.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"MRData":{"xmlns":"http:\/\/ergast.com\/mrd\/1.4","series":"f1","url":"http://ergast.com/api/f1/circuits/rainbowroad/seasons.json","limit":"30","offset":"0","total":"0","SeasonTable":{"circuitId":"rainbowroad","Seasons":[]}}}'
  recorded_at: Sat, 18 Nov 2017 15:10:59 GMT
recorded_with: VCR 3.0.3
