---
http_interactions:
- request:
    method: get
    uri: http://ergast.com/api/f1/drivers/michael_schumacher/constructors/ferrari/seasons.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"MRData":{"xmlns":"http:\/\/ergast.com\/mrd\/1.4","series":"f1","url":"http://ergast.com/api/f1/drivers/michael_schumacher/constructors/ferrari/seasons.json","limit":"30","offset":"0","total":"11","SeasonTable":{"constructorId":"ferrari","driverId":"michael_schumacher","Seasons":[{"season":"1996","url":"http:\/\/en.wikipedia.org\/wiki\/1996_Formula_One_season"},{"season":"1997","url":"http:\/\/en.wikipedia.org\/wiki\/1997_Formula_One_season"},{"season":"1998","url":"http:\/\/en.wikipedia.org\/wiki\/1998_Formula_One_season"},{"season":"1999","url":"http:\/\/en.wikipedia.org\/wiki\/1999_Formula_One_season"},{"season":"2000","url":"http:\/\/en.wikipedia.org\/wiki\/2000_Formula_One_season"},{"season":"2001","url":"http:\/\/en.wikipedia.org\/wiki\/2001_Formula_One_season"},{"season":"2002","url":"http:\/\/en.wikipedia.org\/wiki\/2002_Formula_One_season"},{"season":"2003","url":"http:\/\/en.wikipedia.org\/wiki\/2003_Formula_One_season"},{"season":"2004","url":"http:\/\/en.wikipedia.org\/wiki\/2004_Formula_One_season"},{"season":"2005","url":"http:\/\/en.wikipedia.org\/wiki\/2005_Formula_One_season"},{"season":"2006","url":"http:\/\/en.wikipedia.org\/wiki\/2006_Formula_One_season"}]}}}'
  recorded_at: Sun, 26 Nov 2017 05:44:03 GMT
recorded_with: VCR 3.0.3
