---
http_interactions:
- request:
    method: get
    uri: http://ergast.com/api/f1/circuits/Suzuka/seasons.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"MRData":{"xmlns":"http:\/\/ergast.com\/mrd\/1.4","series":"f1","url":"http://ergast.com/api/f1/circuits/suzuka/seasons.json","limit":"30","offset":"0","total":"29","SeasonTable":{"circuitId":"suzuka","Seasons":[{"season":"1987","url":"http:\/\/en.wikipedia.org\/wiki\/1987_Formula_One_season"},{"season":"1988","url":"http:\/\/en.wikipedia.org\/wiki\/1988_Formula_One_season"},{"season":"1989","url":"http:\/\/en.wikipedia.org\/wiki\/1989_Formula_One_season"},{"season":"1990","url":"http:\/\/en.wikipedia.org\/wiki\/1990_Formula_One_season"},{"season":"1991","url":"http:\/\/en.wikipedia.org\/wiki\/1991_Formula_One_season"},{"season":"1992","url":"http:\/\/en.wikipedia.org\/wiki\/1992_Formula_One_season"},{"season":"1[...]
