---
http_interactions:
- request:
    method: get
    uri: http://ergast.com/api/f1/constructors/williams/seasons.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"MRData":{"xmlns":"http:\/\/ergast.com\/mrd\/1.4","series":"f1","url":"http://ergast.com/api/f1/constructors/williams/seasons.json","limit":"30","offset":"0","total":"42","SeasonTable":{"constructorId":"williams","Seasons":[{"season":"1975","url":"http:\/\/en.wikipedia.org\/wiki\/1975_Formula_One_season"},{"season":"1976","url":"http:\/\/en.wikipedia.org\/wiki\/1976_Formula_One_season"},{"season":"1978","url":"http:\/\/en.wikipedia.org\/wiki\/1978_Formula_One_season"},{"season":"1979","url":"http:\/\/en.wikipedia.org\/wiki\/1979_Formula_One_season"},{"season":"1980","url":"http:\/\/en.wikipedia.org\/wiki\/1980_Formula_One_season"},{"season":"1981","url":"http:\/\/en.wikipedia.org\/wiki\/1981_Formula_One_season"},{"season":"1[...]
